body { background-color: aliceblue;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
 }

 h1 { color: purple;}
 .grilla { background-color: light-gray; color:red;}
 .lista { text-align: left; text-decoration: dotted; color:rgb(17, 44, 35); }